$color-white: whitesmoke;
$color-black: #1e2027;
$color-orange: #FF7812;

$color-text-base: #000;
$color-text-header: #000;

$color-background: $color-white;
$color-background-dark: $color-black;

$baseline: 16px;
$base-font-size: 16;