$sans: helvetica, arial, "sans-serif";
$serif: georgia, serif;


html {
  color: $color-text-base;
  font-size: $base-font-size + 0px;
}

body {
  line-height: 1.8em;
  @include font($sans, $base-font-size, 400);
}

::selection {
  color: #111;
  background: #D6EDFF;
  text-shadow: none;
}

%header {
  margin-top: 0;
  margin-bottom: base(1);
  text-rendering: optimizeLegibility;
  color:  $color-text-header;
  line-height: 1.1em;
  @include font($sans, 16, 600);
  &::selection{
    //color: #000;
  }
}

//Header Sizing
$headers: (h1: 48, h2: 40, h3: 32, h4: 28, h5: 22, h6: 16);

@each $header, $size in $headers {
  #{$header} {
    @extend %header;
    @include font-size($size);
  }
}

//Materials
p {
  @include font-size(12);
}

.material_category_header {
  .material_category_title {
    @include font-size(14);
  }

  .material_category_description {
    font-family: serif;
    @include font-size(14);
    line-height: base(1);
  }
}

.material_category_list {
  a {
    @include font-size(12);
    line-height: 20px;
    color: #000;
    text-decoration: none;
  }
}