@import "normalize";

@import "bits";
@import "functions";
@import "base";
@import "grid";
@import "typography";

html {
  background-color: $color-background;
}

.material_container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}