{% extends "layouts/layout.html" %}

{% block title %}CRSF Materials{% endblock %}
{% block content %}
  
  <div class="material_container">
    <div class="material_grid">
      
      <div class="material_col-100">
        <div class="material_filter">
          <div class="material_filter-header">
            <h6>Filter: <span class="material_filter_active-filter">Active Filter</span></h6>
          </div>
          <ul class="material_filter-list">
            <li><a href="">Filter</a></li>
            <li><a href="">Filter</a></li>
            <li><a href="">Filter</a></li>
          </ul>
        </div>  
      </div>
      
      <!-- First Column -->
      <div class="material_col-50">
        <div class="material_category">
          <div class="material_category_header">
            <img src="http://placehold.it/65x65" alt="">
            <div class="material_category_header_icon"></div>
            <h6 class="material_category_title">Category Title</h6>
            <p class="material_category_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit aperiam aut, placeat.</p>

          </div>
          <ul class="material_category_list">
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
          </ul>
        </div>
        <div class="material_category">
          <div class="material_category_header">
            <img src="http://placehold.it/65x65" alt="">
            <div class="material_category_header_icon"></div>
            <h6 class="material_category_title">Category Title</h6>
            <p class="material_category_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, obcaecati ullam quo!</p>
          </div>
          <ul class="material_category_list">
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
          </ul>
        </div>
        <div class="material_category">
          <div class="material_category_header">
            <img src="http://placehold.it/65x65" alt="">
            <div class="material_category_header_icon"></div>
            <h6 class="material_category_title">Category Title</h6>
            <p class="material_category_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum magnam, est modi!</p>
          </div>
          <ul class="material_category_list">
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
          </ul>
        </div>

      </div>

      <!-- Second Column -->
      <div class="material_col-50">
        <div class="material_category">
          <div class="material_category_header">
            <img src="http://placehold.it/65x65" alt="">
            <div class="material_category_header_icon"></div>
            <h6 class="material_category_title">Category Title</h6>
            <p class="material_category_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, aliquam quia nobis.</p>
          </div>
          <ul class="material_category_list">
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
          </ul>
        </div>        
        <div class="material_category">
          <div class="material_category_header">
            <img src="http://placehold.it/65x65" alt="">
            <div class="material_category_header_icon"></div>
            <h6 class="material_category_title">Category Title</h6>
            <p class="material_category_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nesciunt itaque vero.</p>
          </div>
          <ul class="material_category_list">
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
          </ul>
        </div>        
        <div class="material_category">
          <div class="material_category_header">
            <img src="http://placehold.it/65x65" alt="">
            <div class="material_category_header_icon"></div>
            <h6 class="material_category_title">Category Title</h6>
            <p class="material_category_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem adipisci, officia nesciunt.</p>
          </div>
          <ul class="material_category_list">
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
            <li><a href="/">Lorem ipsum dolor.</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  
  
  
{% endblock %}